<% include('header') %>

<div class="nice">
        <h2>Welcome back</h2>
    </div>

    <div class="nice">
        <form method="POST" action="/login">
            <label>
                <input name="username" type="text" placeholder="Username">
                <input name="passwordraw" type="password" placeholder="Password">
            </label>
            <button class="btn btn-outline-light">Login</button>
        </form>
    </div>


<% include('footer') %>
