<%- include('header') %>

<body>
    

    <div class="nice">
      <h2>Welcome back</h2>
    </div>

    <div class="nice">
      <form method="POST" action="/signup">
        <label>
          <input name="username" type="text" placeholder="Username" required>
          <input name="email" type="email" placeholder="Email" required>
          <input name="passwordraw1" type="password" placeholder="Password" required>
          <input name="passwordraw2" type="password" placeholder="Confirm Password" required>
        </label>
        <button class="btn btn-outline-light">Sign Up</button>
      </form>
    </div>

    

    <script src="checkpassword.js"></script>
</body>

<% include('footer') %>